<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <select   value="countries" class="form-control" (change)='stateChanged($event)'>
        <option  *ngFor="let x of statesArray.states" name="" value="{{x.state}}">{{x.state}}</option>
      </select>
      <p></p>
     </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <select name="districts" id="" class="form-control">
        <option value="dist"></option>
      </select>
    </div>


    <div class="col-md-6">
      place map here
    </div>
  </div>
</div>
<!-- {{statesArray.states| json}} -->
<div >

</div>
