<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <select   value="countries" class="form-control" (change)='stateChanged($event)'>
        <option selected>--Select a state</option>
        <option  *ngFor="let item of statesArray.states" name="" value="{{item.state}}" >{{item.state}}</option>
      </select>
      <p></p>
    

      <select   value="districts" class="form-control" (change)='districtSelected($event)'>
        <option selected>--Select a district</option>
        <option  *ngFor="let item of districts" name="" value="{{item}}" >{{item}}</option>
      </select>
    </div>


    <div class="col-md-6">
      <h4 class="text-center">Google Map</h4>
        <div class="card mt-3">
            <div class="card-body">
              <agm-map [zoom]="10" [latitude]="lat" [longitude]="lng"></agm-map>

            </div>
        </div>
    </div>
  </div>
</div>
<div >

