<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <select   value="countries" class="form-control" (change)='stateChanged($event)'>
        <option selected>--Select a state</option>
        <option  *ngFor="let item of statesArray.states" name="" value="{{item.state}}" >{{item.state}}</option>
      </select>
      <p></p>
     </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <select   value="districts" class="form-control">
        <option selected>--Select a district</option>
        <option  *ngFor="let item of districts" name="" value="{{item}}" >{{item}}</option>
      </select>
    </div>


    <div class="col-md-6">
      place map here
    </div>
  </div>
</div>
<!-- {{statesArray.states| json}} -->
<div >

</div>
